.bt-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 240px);
   justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
} 
.bt-inner-container {
    padding: 16px 8px;
    background-color: var(--primary-light);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 6px;
 }

 .bt-inner-container:hover {
    cursor: pointer;
 } 
 .bt-image {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
 }
 .bt-stars {
    color: var(--secondary-colour);
    font-size: 15px;
 }
 .bt-title {
    color: var(--primary-dark);
    font-size: 20px;
    font-weight: 600;
 }
 .bt-description {
    font-size: 14px;
 }
